.content {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  
  .content__home {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {
      position: absolute;
      left: 1000px;
      top: 70px;
      font-family :$roboto;
      font-size: $very-large;
      color: white;
    }
    
    .triangle {
      position: absolute;
      top: 132px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200px 0 0px 1360px;
      border-color: transparent transparent transparent rgba(255,0,0,0.65);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    #home__button-arent {
        right: 1150px;
    }
  }
}

.apartamente {
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(/media/apartament_rec.jpg);
  background-size: cover;
  background-position: center;
}

.case {
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(/media/case_rec.jpg);
  background-size: cover;
  background-position: center;
}

.comerciale {
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(/media/comerciale_rec.jpg);
  background-size: cover;
  background-position: center;
}

.content__space {
  width: 100%;
  height: 250px;
  background-color: #fff;
}
