.swiper {
  width: 100%;
  min-height: 80vh;

  &-recomandation {
    &-wrapper {
      height: 80vh;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      h3 {
        position: relative;
        top: 65px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 35px;
        z-index: 11;
        color:$red-base;
      }
    }
  }

  &.recomandation {
    width: 60%;
    height: 150px;
    padding-top: 100px;
    position: relative;


    .info-prev,
    .info-next {
      position: absolute;
      top: 40px;
      background-color: red;
    }

    .info-prev {
      position:absolute;
      left: calc(50% - 170px);
      width: 50px !important;
      height: 50px !important;

      &::after {
        content: "" !important;
        width: 15px ;
        height: 15px;
        border-right: 5px solid $red-base;
        border-top: 5px solid $red-base;
        transform: rotate(-135deg);
      }
    }
    
    .info-next {
      position:absolute;  
      right: calc(50% - 170px);
      width: 60px !important;
      height: 60px !important;

      &::after {
        content: "" !important;
        width: 15px ;
        height: 15px;
        border-right: 5px solid $red-base;
        border-top: 5px solid $red-base;
        transform: rotate(45deg);
      }
    }
  }

  .homeswiper__img {
    width: 100%;
    min-height: 35vh;

    &-info {
      height: 10vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: white;

      .info-text {
        display: flex;
        justify-content: space-between;
       font-family: $roboto;
       color: black;
       font-size: 20px;
       font-weight: 600;
      }

      .info-description {
        color:gray;
        font-size: 13px;
        font-family: $roboto;
      }
    }
  }

  &-button {
    
    &-next {
      width: 60px !important;
      height: 60px !important;
      &::after {
        content: "" !important;
        width: 35px;
        height: 35px;
        border-right: 5px solid white;
        border-top: 5px solid white;
        transform: rotate(45deg);
      }
    }

    &-prev {
      width: 60px !important;
      height: 60px !important;

      &::after {
        content: "" !important;
        width: 35px;
        height: 35px;
        border-right: 5px solid white;
        border-top: 5px solid white;
        transform: rotate(-135deg);
      }
    }
  }

}

