.swiper {
  width: 100%;
  min-height: 80vh;
  background-color: aqua;


  // &.recomandation {
  //   // stiluri pentru al 2-lea swiper/ elementele intere
  // }

  .homeswiper__img {
    width: 100%;
    min-height: 60vh;
  }

  &-button {
    &-next {
      color: white;
    }

    &-prev::after,&-next::after {
      color: white;
      width: 15px;
      line-height: 4;
    }
  }

}

.swiperRecomandation__content {
  width: 100%;
  min-height: 40vh ;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}